.feedFilters {
  background-color: #ffffff;
  margin-bottom: 50px;
  padding: 30px 40px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.feedFilterHeader {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.feedFilterSubheader {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.feedGenreFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;
}

.feedGenreOption {
  display: flex;
  background-color: #ffffff;
  outline: 1px solid #ececec;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.selected,
  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

.feedAlphanumericFilters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  outline: 1px solid #ececec;
  border-radius: 10px;
  padding: 0 10px;
}

.alphanumericOption {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  flex: 1;

  &.selected,
  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

.optionDivider {
  color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}
