.albumSort {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.albumSortDropdown {
  position: relative;
  display: flex;
  margin-left: -10px;
}

.albumSortDropdownSelect {
  cursor: pointer;
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &.albumSortDropdownOpen ~ .albumSortDropdownOptions {
    display: block;
    animation: fadeIn 0.5s;
  }
}

.albumSortDropdownOptions {
  cursor: pointer;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #ffffff;
  z-index: 10;
  width: 100%;
  min-width: 200px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.albumSortDropdownOption {
  padding: 12px 10px;

  &:hover,
  &.albumSortDropdownOptionSelected {
    background-color: #000000;
    color: #ffffff;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
