.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-red {
  color: var(--color-red);
}

.text-bold {
  font-weight: bold;
}

.text-medium-bold {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

.text-normal {
  font-weight: normal;
}
