.album {
  animation-name: fadeIn;
}

.albumTextContainer {
  padding: 10px 0;
}

.albumTitle {
  font-weight: 500;
  margin-bottom: 5px;
}

.artistName {
  font-size: 14px;
  margin-bottom: 5px;
}

.favoriteIcon {
  position: relative;
  bottom: -2px;
  cursor: pointer;

  &.favoriteIconActive,
  &:hover {
    color: var(--color-red);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
