.modal {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0 20px;
}

.modalShow {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modalContent {
  background-color: #ffffff;
  margin: 40px auto;
  width: 100%;
  max-width: 700px;
  position: relative;
  height: auto;
}

.modalCloseContainer {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modalClose {
  position: relative;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    opacity: 0.4;
    text-decoration: none;
    cursor: pointer;
  }
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
