@import './../../styles/mixins/breakpoints.scss';

.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}

.headerLogo {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 3px;
}

.headerButton {
  padding-right: 0;
}

.favoritesLinkContainer {
  display: flex;
  gap: 3px;
}

.favoritesCount {
  background-color: var(--color-red);
  color: #ffffff;
  height: 18px;
  width: 18px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  position: relative;
  top: -1px;
  display: none;

  @include sm-breakpoint {
    display: inline-flex;
  }
}

.viewText {
  display: none;

  @include sm-breakpoint {
    display: inline-block;
  }
}

.favoriteIcon {
  display: inline-block;

  @include sm-breakpoint {
    display: none;
  }
}
